
                  <fieldset>
                  <div class="required">
                      <label for="url">URL</label>
                      <input class="u-90-width" type="url"  id="url" name="url" ng-model="site.site.url" required>  
                  </div>
                  
                  <label for="content">Content</label>      
                  <textarea class="u-90-width" id="content" name="content"  ng-model="site.site.content" rows="20"> </textarea>                  
                   <div class="required">
                      <label for="url">Tag</label>
                      <input class="u-90-width" type="text"  id="tag" name="tag"  ng-model="site.site.tag" required> 
                   </div>
                   <label for="url">Reddit Score</label>
                   <input class="u-90-width" type="number"  id="reddit_score" name="reddit_score"  ng-model="site.site.reddit_score"
                      ng-init="site.site.reddit_score=0"> 
                   <label for="url">Ycombinator Score</label>
                   <input class="u-90-width" type="number"  id="ycombinator_score" name="ycombinator_score"  ng-model="site.site.ycombinator_score" ng-init="site.site.ycombinator_score=0"> 
                                 

              
              <button class="button-primary" type="submit"> Save</button>
              </fieldset>
       

