
{% extends "layout.html" %}
  {% block body %}
  {% raw %}
<div class="center row" >
      <div class="small-12 columns"><p><h4 style="display:inline">Sites </h4><a href="{{ url_for('sites.site_add')}}">Add new</a></p></div>
    </div>

      <!-- Main Page Content-->
 <div class="center row" ng-app="tables" ng-controller="TableController">
             <div class="small-12 columns">
               {{ dict }}
            <table> <thead><tr><th>URL</th><th>Content</th><th>Tag</th></tr></thead>
             <tbody>

              <tr><td><a href="{{ result['url'] }}" target="_blank">{{ result['url'] }}</a> </td><td>{{ result['content'] }}</td><td>{{ result['tag'] }}</td>
                 <td><a href="{{ url_for('sites.site_update', id=result['id']) }}">Edit</a>        <a href="{{ url_for('sites.site_delete', id=result['id']) }}">Delete</a></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        {% endraw %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
var tables = angular.module('tables', []);
tables.controller('TableController', function($scope, $http) {
   $http.get('/sites')
   .success(function(data){
       $scope.dict = data;

})
});
</script>
{% endblock %}
