
{% extends "layout.html" %}
  {% block body %}

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<script>
var app = angular.module('app', []);
app.controller('TableController', function($scope, $http) {

  $scope.sortType     = 'tag'; // set the default sort type
  $scope.sortReverse  = true;  // set the default sort order
  $scope.search   = '';     // set the default search/filter term
  $http.get('/sites/sites')
   .success(function(data){
       $scope.sites = data; })



});
</script>

{% raw %}      <!-- Main Page Content-->
 <div class="center row" ng-app="app" ng-controller="TableController">

       <form>
     <div class="row">
       <div class="small-8 columns">
         <div class="row">
           <div class="small-3 columns">
             <label for="right-label" class="right inline"> <strong>Search</strong></label>
           </div>
           <div class="small-9 columns">
             <input type="text" id="right-label" name="search" ng-model="search" required>
           </div>
         </div>
       </div>
   </form>

 


  <div class="center row">
             <div class="small-12 columns">
            <table >
            <thead><tr>
              <th>
              <a href="#" ng-click="sortType = 'id'">
                             ID
                          <span ng-show="sortType == 'id'" ></span>
                        </a>
              </th>
              <th>
              <a href="#" ng-click="sortType = 'url'">
                             URL
                          <span ng-show="sortType == 'url'" ></span>
                        </a>
              </th>
              <th>
              <a href="#" ng-click="sortType = 'tag'">
                             Tag
                          <span ng-show="sortType == 'tag'" ></span>
                        </a>
              </th>
              <th>
              <a href="#" ng-click="sortType = 'search'">
                             Search
                          <span ng-show="sortType == 'search'" ></span>
                        </a>
              </th>
              <th>
              <a href="#" ng-click="sortType = 'content'">
                             Content
                          <span ng-show="sortType == 'content'" ></span>
                        </a>
              </th>
            </thead>
             <tbody>
              <tr ng-repeat="site in sites.sites | orderBy:sortType:sortReverse |filter:search" >
              <td>{{ site.id   }}</a> </td>
              <td>{{ site.url  }}</td>
              <td>{{ site.tag }} </td>
              <td>{{ site.search }} </td>
              <td>{{ site.content  }} </td>
              <td></td>
                </tr>

              </tbody>
            </table>



          </div>
        </div>
     </div>

        {% endraw %}



{% endblock %}
