
{% extends "layout.html" %}
  {% block body %}
 

<script>
var app = angular.module('app', ['smart-table']);
app.controller('TableController', function($scope, $http) {
   $http.get('/sites/sites')
   .success(function(data){
       $scope.sites = data;
       
    
         
})
scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
         ];
        
});
</script>
  
{% raw %}      <!-- Main Page Content-->
 <div class="center row" ng-app="app" ng-controller="TableController">
                                 
                
             <div class="small-12 columns">            
            <table > 
            <thead><tr><th>ID</th><th>URL</th><th>Tag</th><th>Search</th><th>Content</th></tr></thead>
             <tbody>
              <tr ng-repeat="site in sites.sites">
              <td>{{ site.id }}</a> </td>
              <td>{{ site.url }}</td>
              <td>{{ site.tag }}</td>
              <td>{{ site.search }}</td>
              <td>{{ site.content }}</td>
              <td></td>
                </tr>

              </tbody>
            </table>
            
            
            <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>first name</th>
		<th>last name</th>
		<th>birth date</th>
		<th>balance</th>
		<th>email</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection">
		<td>{{row.firstName}}</td>
		<td>{{row.lastName}}</td>
		<td>{{row.birthDate}}</td>
		<td>{{row.balance}}</td>
		<td>{{row.email}}</td>
	</tr>
	</tbody>
</table>
          </div>
        </div>

        {% endraw %}



{% endblock %}
