<!-- public/views/authView.html -->

<div class="row">

 {{ loginError }}
</div>
<div class="row">
 <div class="two columns"></div>
    <div class="ten columns">    
        <h3>Login</h3>
        <form>            
                <input type="email" placeholder="Email" ng-model="email" required>
            
        
                <input type="password"  placeholder="Password" ng-model="password" required>
          
            <button class="button-primary" ng-click="login()">Submit</button>
        </form>
    </div>
</div>